header {
    width:200px;
    background-color: #4CAF50;
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 15px;
    border: 3px solid rgb(46, 46, 46);
    border-radius: 20px;

}
header div:nth-child(1) {
    font-size: 30px;
    text-shadow: 0 0 3px black;
}

header div:nth-child(2) {
    font-size: 20px;
    text-shadow: 0 0 3px black;
}

body {
    background-color: rgb(71, 70, 70);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}
.topnav {
    background-color: rgb(46, 46, 46);
    overflow: hidden;
    position: relative;
    margin-top: -74px;
    margin-left: 215px;
    border: 3px solid rgb(46, 46, 46);
}

.topnav a {
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-shadow: 0 0 3px black;
    

}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.myphoto {
    border: 3px solid #4CAF50;
    float:right;
    height:200px;
    margin-left:30px;
    
}

.intro {
    margin: 50px;
    border: 3px solid #4CAF50;
    background-color: rgb(46, 46, 46);
    margin-right:230px;
    margin-left:250px;
}
.side {
    background-color: rgb(46, 46, 46);
    width: 200px;
    height: 170px;
    padding: 15px;
    border: 3px solid #4CAF50;
    float:left;
    
}

aside h2 {
    background-color: #4CAF50;
    margin: -15px;
    color: white;
    text-align: center;
    text-shadow: 0 0 3px black;
    margin-bottom: 10px;

}

.hili {
    color: #4CAF50;
}

li a {
    color: white;
}

li a:visited {
    color: #4CAF50;
}

ul li {
    color: #4CAF50;
    font-size: 15px;
}


article {
    color: rgb(221, 221, 221);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    text-indent: 30px;
    padding: 10px 50px;
}

article h3 {
    color:#4CAF50;
    text-shadow: 0 0 3px black;
    text-align: center;
}

.prim {
    float: right;
    margin-left: 15px;
    margin-top: 7px;
    height: 170px;
    border: 3px solid #4CAF50;
    

}

.who {
    float: right;
    margin:10px;
    top:100px;
}

p.phrase {
    text-align: right;
    font-style: italic;
    font-size: 16px;
    text-decoration: underline;
}

.important {
    margin: 50px;
    border: 3px solid #4CAF50;
    background-color: rgb(46, 46, 46);
    font-weight: bolder;
    

}

footer {
    background-image: url(photo_2023-03-01_22-43-28.jpg);
    background-size: 200px;
    height: 50px;
    padding: 20px;
    font-weight: bolder;
    color: white;
    text-shadow: 0 0 6px black;
    text-align: center;
    border: 3px solid #4CAF50;
    margin: -10px;
}